<h2>TERMS OF SERVICE</h2>

<h3>The  Central Wisconsin Genealogy Index</h3>
<br/>
<h4>General Terms of Service</h4>

<p>
    &emsp;1. Online Payments can only be done using <font color="red"><b>VISA</b></font> or <font color="red"><b>MasterCard. <i>We cannot fill orders submitted by email or phone.</i></b></font>
</p>

<p>
    &emsp;2. If you <font color="red"><b>do not have a credit card</b></font> and wish to request information from the index, please make your request by filling out our online mail order form and sending it to the address below.
</p>
<p>
    &emsp;&emsp;University of Wisconsin-Stevens Point<br/>
    &emsp;&emsp;Library / Archives<br />
    &emsp;&emsp;900 Reserve Street<br />
    &emsp;&emsp;Stevens Point, WI 54481<br />
</p>

<p>
    &emsp;3. Payment of <font color="red"><b><i>the fee is for a search</i></b></font> based on the citations found in our index.
</p>

<p>
    &emsp;<font color="red"><b><i>The fee does not guarantee that the information you requested can be found and sent to you.</i></b></font>
</p>

<p>
    &emsp;Payment of the fee only ensures that staff trained to do genealogical research will attempt to locate and copy the obituary, naturalization record or census record for you as it was indexed. On rare occasions, due to a mistake made in indexing or possibly other unforeseen factors, an obituary, naturalization record or census record cannot be found as it is cited in our indexes. If there appears to be a mistake in the index, our staff will try to locate the obituary by checking 2 to 3 days before and after the date(s) cited in our index. For a census record we will check 3 pages before and after the date cited in our index. For naturalization records, we will check the original paper indexes. Indexes are great tools for assisting you with your research. However, people did the indexing, and people input the information into the database. Unfortunately, people make mistakes and therefore there are some errors in the indexes, which are corrected as they are found.
</p>


<p>
    &emsp;4. If we do not find the material you requested, we will send you the results of our efforts through regular mail.
</p>


<p>
    &emsp;5. We will provide you with the best copy possible. The <font color="red"><b>quality (readability) of the copies sent to you may vary greatly</b></font> depending on many variables. For example, the print in many of the census records faded by the time they were microfilmed. There is little we can do to make the text readable accept darken the copy we make for you, which means the background on your copy may be anywhere from light to dark gray depending on how poor the microfilm image is. In the case of the microfilmed newspapers that obituaries come from, many old newspapers turned yellow with age and the ink faded. As with the census, we have few options for enhancing the image we send you.
</p>


<p>
    &emsp;6.Wisconsin state and local sales taxes are included in each order.
</p>


<p>
    &emsp;7.First class shipping by the U.S. Post Office is included in the cost of each request.
</p>


<p>
    &emsp;8.Requests are answered on a first come, first served basis. They are processed as staff time permits. Depending on the backlog, the turn around time for receiving a response to your request ranges from <font color="red"><b>3 to 5 weeks.</b></font>
</p>


<p>
    &emsp;9.<font color="red"><b>Do not send duplicate requests.</b></font> We receive a large number of requests on a daily basis, and we do not check our files for duplication. If you send a duplicate request, your credit card will be billed accordingly and no refund will be made.
</p>

<p>
    &emsp;10. There is no <font color="red"><b><i>Rush Service.</i></b></font>
</p>

<p>
    &emsp;11. <font color="red"><b>No digital files</b></font> can be sent. Researchers must provide a <font color="red"><b>postal address</b></font> to which we can send paper copies.
</p>

<p>
    &emsp;12. All required fields must be completed on the order form.
</p>

<p>
    &emsp;13. All information received during the order process is kept confidential. Credit card numbers are protected using 128bit SSL security.
</p>

<p>
    &emsp;14. If you provide us with an email address, a confirmation and receipt will be sent to your email account when we receive your request and credit card payment.
</p>
<h4>
    Fees
</h4>
<h4>
    Obituaries:
</h4>
<ul>
<li>
    &emsp;1 to 5 obituary requests for $15.00 (6 to 10 obituary requests are $30, 11 to 15 are $45, etc.)
</li>
<li>
    &emsp;A request is defined as 1 name in our index. For example, if the index reads:
</li>
</ul>
<p>
    &emsp;&emsp;Smith, Jane - SPJ (Stevens Point Journal) - 1 FEB. 1900, 3 FEB., 4 FEB (This is 1 request even though 3 items are listed under SPJ.)
</p>
<ul>
<li>
    &emsp;If there is another listing for Smith, Jane in the SPWJ (Stevens Point Weekly Journal) and you order it in addition to the SPJ obituary; you are ordering 2 obituaries for $30.
</li>
</ul>
<h4>
    Census:
</h4>
<ul>
<li>
    &emsp;1 request is $15.00
</li>
<li>
    &emsp;1 family name for 1 year's census in the index is considered 1 request. For example if the index reads:
</li>
</ul>
<p>
    &emsp;&emsp;Family Name: Smith - 1870<br/>
    &emsp;&emsp;Town of Grant<br/>
    &emsp;&emsp;Name Age Page<br />
    &emsp;&emsp;John 34 96A<br />
    &emsp;&emsp;Mary 29 96A<br />
    &emsp;&emsp;Tom 10 96A<br />
    &emsp;&emsp;Mina 8 96A<br />
</p>
<p>
    &emsp;---This is 1 request.
</p>
<h4>
    Naturalization / Citizenship Papers:
</h4>
<ul>
<li>
    &emsp;1 request is $15.00
</li>
    <li>
        &emsp;1 name is the equivalent of 1 request. If the index has all 3 steps of the process listed together <font color="red"><b>under one name</b></font> this is 1 request and you will receive documents for all 3 steps for $15.  Check the name Timm, Joachim in the index if you need a clearer example:
    </li>
</ul>
<p>
    &emsp;&emsp;Timm, Joachim,  Portage Naturalization,  1833   Aug 1857           Declaration of Intent, Petition & Final Paper (Series: 17 Box: 13 Folder: 5)
</p>
<ul>
<li>
    &emsp;If there a multiple listings for a name in the index, such as Johnson, Andrew, you will be charged for each one you order. For example, if you order all 7 Andrew Johnson declaration of intents the charge would be $105.  Check the name Johnson, Andrew in the index if you need a clearer example.
</li>
</ul>
<p>
    &emsp;&emsp;Johnson, Andrew  Portage Naturalization  1831           May 1870             Declaration of Intent (Series: 17 Box: 5 Folder: 1)<br />
</p>
<p>
    &emsp;&emsp;Johnson, Andrew  Portage Naturalization  1848           Aug 1870             Declaration of Intent (Series: 17 Box: 5 Folder: 1)<br />
</p>
<p>
    &emsp;&emsp;Johnson, Andrew  Portage Naturalization  1843           Jul 1871           Declaration of Intent (Series: 17 Box: 5 Folder: 2)<br />
</p>
<p>
    &emsp;&emsp;Johnson, Andrew  Portage Naturalization  1847           Apr 1869            Declaration of Intent (Series: 17 Box: 5 Folder: 1)<br />
</p>
<p>
    &emsp;&emsp;Johnson, Andrew  Portage Naturalization                                        Declaration of Intent (Series: 17 Box: 4 Folder: 2)<br />
</p>
<p>
    &emsp;&emsp;Johnson, Andrew  Portage Naturalization  1846          May 1871            Declaration of Intent (Series: 17 Box: 5 Folder: 2)<br />
</p>
<p>
    &emsp;&emsp;Johnson, Andrew  Portage Naturalization  1846          Jun 1867            Declaration of Intent (Series: 17 Box: 4 Folder: 17)<br />
</p>
<h4>
    Refund Policy
</h4>
<p>
    &emsp;1. There is <font color="red"><b><i>no guarantee</i></b></font> that a record can be found even if they are cited in the index. <font color="red"><b><i>You are paying for a search to be conducted, not for a record to be delivered to you.</i></b></font> Payment of the fee only ensures that staff trained to do genealogical research will attempt to locate and copy the material for you as it was indexed. Staff trained in genealogical research conducts your search. You will receive notification through U.S. Mail if we do not find the information you requested.
</p>
<p>

<p>
    &emsp;2. <font color="red"><b>No refunds</b></font> can be given on orders submitted with errors such as, but not limited to, a typo in your mailing address or submitting the wrong name for us to search. Responsibility for providing correct information lies solely with you. We are not responsible if you provide incorrect information.
</p>

<p>
    &emsp;3. <font color="red"><b>Cancellations:</b></font> Once an order is entered into our system, it cannot be canceled under any circumstances.
</p>

<p>
    &emsp;4. We will issue a refund only if you can provide written documentation that your credit card was used fraudulently.
</p>

<p>
    &emsp;5. We will only <font color="red"><b>redo a request</b></font> under limited circumstances:
</p>
<p>
    &emsp;&emsp;a. If our staff has somehow erred, we will gladly do the search a second time without charge.
</p>
<p>
    &emsp;&emsp;b. If a package shipped from us with the correct address has miscarried, we will promptly send another copy without charge.
</p>

<p>
    &emsp;6. If you think you qualify to have your request redone or your fee refunded, please email us at <a href="mailto:archives@uwsp.edu"><font color="blue"><u>archives@uwsp.edu</u></font></a> and a staff member will reply promptly. <font color="red"><b>Please do not use this address to submit requests for materials. We will not process requests emailed to this address.</b></font>
</p>

<p>
    &emsp;7. The same fees and policies apply to <font color="red"><b>written requests. <i>Pre-payment is required.</i></b></font> If you prefer not to pay by credit card, and wish to order material, please make your request by filling out our online mail order form and sending it to the address below.
</p>
<p>
    &emsp;&emsp;University of Wisconsin-Stevens Point<br/>
    &emsp;&emsp;Library / Archives<br/>
    &emsp;&emsp;900 Reserve St.<br/>
    &emsp;&emsp;Stevens Point, WI 54481<br/>
</p>