<h2>TERMS OF SERVICE</h2>

<p>The  Central Wisconsin Genealogy Index

General Terms of Service

Online Payments can only be done using VISA or MasterCard. We cannot fill orders submitted by email or phone.


If you do not have a credit card and wish to request information from the index, please make your request by filling out our online mail order form and sending it to the address below.

University of Wisconsin-Stevens Point
Library / Archives
900 Reserve Street
Stevens Point, WI 54481

Payment of the fee is for a search based on the citations found in our index.

The fee does not guarantee that the information you requested can be found and sent to you.

Payment of the fee only ensures that staff trained to do genealogical research will attempt to locate and copy the obituary, naturalization record or census record for you as it was indexed. On rare occasions, due to a mistake made in indexing or possibly other unforeseen factors, an obituary, naturalization record or census record cannot be found as it is cited in our indexes. If there appears to be a mistake in the index, our staff will try to locate the obituary by checking 2 to 3 days before and after the date(s) cited in our index. For a census record we will check 3 pages before and after the date cited in our index. For naturalization records, we will check the original paper indexes. Indexes are great tools for assisting you with your research. However, people did the indexing, and people input the information into the database. Unfortunately, people make mistakes and therefore there are some errors in the indexes, which are corrected as they are found.


If we do not find the material you requested, we will send you the results of our efforts through regular mail.


We will provide you with the best copy possible. The quality (readability) of the copies sent to you may vary greatly depending on many variables. For example, the print in many of the census records faded by the time they were microfilmed. There is little we can do to make the text readable accept darken the copy we make for you, which means the background on your copy may be anywhere from light to dark gray depending on how poor the microfilm image is. In the case of the microfilmed newspapers that obituaries come from, many old newspapers turned yellow with age and the ink faded. As with the census, we have few options for enhancing the image we send you.


Wisconsin state and local sales taxes are included in each order.


First class shipping by the U.S. Post Office is included in the cost of each request.


Requests are answered on a first come, first served basis. They are processed as staff time permits. Depending on the backlog, the turn around time for receiving a response to your request ranges from 3 to 5 weeks.


Do not send duplicate requests. We receive a large number of requests on a daily basis, and we do not check our files for duplication. If you send a duplicate request, your credit card will be billed accordingly and no refund will be made.


There is no Rush Service.


No digital files can be sent. Researchers must provide a postal address to which we can send paper copies.


All required fields must be completed on the order form.


All information received during the order process is kept confidential. Credit card numbers are protected using 128bit SSL security.


If you provide us with an email address, a confirmation and receipt will be sent to your email account when we receive your request and credit card payment.

Fees

Obituaries:

1 to 5 obituary requests for $15.00 (6 to 10 obituary requests are $30, 11 to 15 are $45, etc.)

A request is defined as 1 name in our index. For example, if the index reads:

Smith, Jane - SPJ (Stevens Point Journal) - 1 FEB. 1900, 3 FEB., 4 FEB (This is 1 request even though 3 items are listed under SPJ.)

If there is another listing for Smith, Jane in the SPWJ (Stevens Point Weekly Journal) and you order it in addition to the SPJ obituary; you are ordering 2 obituaries for $30.

Census:

1 request is $15.00

1 family name for 1 year's census in the index is considered 1 request. For example if the index reads:

Family Name: Smith - 1870
Town of Grant
Name Age Page
John 34 96A
Mary 29 96A
Tom 10 96A
Mina 8 96A

---This is 1 request.

Naturalization / Citizenship Papers:

·         1 request is $15.00

·         1 name is the equivalent of 1 request. If the index has all 3 steps of the process listed together under one name, this is 1 request and you will receive documents for all 3 steps for $15.  Check the name Timm, Joachim in the index if you need a clearer example:

Timm, Joachim,  Portage Naturalization,  1833   Aug 1857           Declaration of Intent, Petition & Final Paper (Series: 17 Box: 13 Folder: 5)

·         If there a multiple listings for a name in the index, such as Johnson, Andrew, you will be charged for each one you order. For example, if you order all 7 Andrew Johnson declaration of intents the charge would be $105.  Check the name Johnson, Andrew in the index if you need a clearer example.

Johnson, Andrew  Portage Naturalization  1831           May 1870             Declaration of Intent (Series: 17 Box: 5 Folder: 1)

Johnson, Andrew  Portage Naturalization  1848           Aug 1870             Declaration of Intent (Series: 17 Box: 5 Folder: 1)

Johnson, Andrew  Portage Naturalization  1843           Jul 1871           Declaration of Intent (Series: 17 Box: 5 Folder: 2)

Johnson, Andrew  Portage Naturalization  1847           Apr 1869            Declaration of Intent (Series: 17 Box: 5 Folder: 1)

 Johnson, Andrew  Portage Naturalization                                        Declaration of Intent (Series: 17 Box: 4 Folder: 2)

 Johnson, Andrew  Portage Naturalization  1846          May 1871            Declaration of Intent (Series: 17 Box: 5 Folder: 2)

 Johnson, Andrew  Portage Naturalization  1846          Jun 1867            Declaration of Intent (Series: 17 Box: 4 Folder: 17)

Refund Policy

There is no guarantee that a record can be found even if they are cited in the index. You are paying for a search to be conducted, not for a record to be delivered to you. Payment of the fee only ensures that staff trained to do genealogical research will attempt to locate and copy the material for you as it was indexed. Staff trained in genealogical research conducts your search. You will receive notification through U.S. Mail if we do not find the information you requested.


No refunds can be given on orders submitted with errors such as, but not limited to, a typo in your mailing address or submitting the wrong name for us to search. Responsibility for providing correct information lies solely with you. We are not responsible if you provide incorrect information.


Cancellations: Once an order is entered into our system, it cannot be canceled under any circumstances.


We will issue a refund only if you can provide written documentation that your credit card was used fraudulently.


We will only redo a request under limited circumstances:

If our staff has somehow erred, we will gladly do the search a second time without charge.

If a package shipped from us with the correct address has miscarried, we will promptly send another copy without charge.


If you think you qualify to have your request redone or your fee refunded, please email us at archives@uwsp.edu and a staff member will reply promptly. Please do not use this address to submit requests for materials. We will not process requests emailed to this address.


The same fees and policies apply to written requests. Pre-payment is required. If you prefer not to pay by credit card, and wish to order material, please make your request by filling out our online mail order form and sending it to the address below.

University of Wisconsin-Stevens Point
Library / Archives
900 Reserve St.
Stevens Point, WI 54481
</p>